<html>
<header>
	<title><%= title %></title>
</header>
<body>
<h1>This year:</h1>

  <ul>
    <% activities.forEach(function(activity){ %>
      
      <li>
        <h3><%= activity.name %></h3>
        <p><%= activity.start_date_local %></p>
        <p><%= (activity.distance/1000).toFixed(1) %> km - 
          <%= (activity.moving_time/60).toFixed(1) %> min.
        </p>
      </li>
      
    <% }); %>
    
  </ul>
  
  
  
</body>
</html>