<html>
<header>
	<title><%= title %></title>
	
	<link rel="stylesheet" type="text/css" href="style.css" />
</header>
<body>

  <div class="report">
    <h1>Achievements 2018:</h1>
    
    <div class="achievement totalActivities"><div class="amm"><%= rapport.activityCount %> runs</div></div>
		
		<div class="achievement longestRun"><div class="amm">langste run: <%= (rapport.longestRun/1000).toFixed(1) %> km</div></div>

    <div class="achievement totalDistance"><div class="amm"><%= (rapport.distance/1000).toFixed(1) %></div><div class="unit">km</div></div>
		    
    <div class="achievement totalTime"><div class="unit"></div><div class="amm"><%= format.time(rapport.moving_time) %></div></div>
   
		<div class="achievement averageDistance"><div class="amm">gemiddeld <%= ((rapport.distance/1000)/rapport.activityCount).toFixed(1) %> km per run</div></div>
     
    <div class="achievement totalKudos"><div class="amm"><%=rapport.kudos%></div><div class="unit">kudos</div></div>
		
    <div class="achievement averageTempo"><div class="amm">gemiddeld <%= format.time((rapport.averageTempo).toFixed(1)) %> per km</div></div>
		
		<div class="achievement maxSpeed"><div class="amm">Maximaal <%= (rapport.max_speed*3.6).toFixed(1) %> km/h</div></div>
	
    <div class="achievement averageKms"><div class="amm"><%=((rapport.distance/1000)/rapport.dayOfYear).toFixed(1) %> km per dag </div></div>
    
    <div class="achievement averagePerYear"><div class="amm">dat wordt <%=(((rapport.distance/1000)/rapport.dayOfYear)*365).toFixed(1) %> in 2018</div></div>
  </div>
  
  <div class="lastActivities">
    <h1>Runs this year:</h1>

    <ul>
      <% activities.forEach(function(activity){ %>
        
        <li>
          <h3><%= activity.name %></h3>
          <p><%= format.date(activity.start_date_local) %> : <%= (activity.distance/1000).toFixed(1) %> km - 
            <%= (activity.moving_time/60).toFixed(1) %> min.
          </p>
        </li>
        
      <% }); %>
      
    </ul>
  
  </div>
  
</body>
</html>